
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to my homework</title>
</head>
<body>
    <h1>Homework #1</h1>
    <h3>Is this the correct way of using view?</h3>
    <input type="radio" name="yes" value="yes"> YES<br>
    <input type="radio" name="no" value="no"> NO<br>
    <button>submit</button>
</body>
</html>
